.wrapper {
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-top: 50px;
}

.title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: #6A4DFD;
    filter: drop-shadow(0px 0px 8px #6A4DFD);
}

.inputForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.errorMessage {
    position: absolute;
    bottom: 0;
    color: red;
    bottom: 170px;
}

.inputForm input {
    text-align: center;
}

.forgot {
    color: blue;
    text-decoration: underline;
}

.startForm {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}