.container {
    width: 100%;
    height: 100%;
}

.sub_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 200px;
    background: #0096F4;
    border-top: 1px solid #49B6FC;
}

.address {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    color: white;
    background: #49B8FD;
    height: 24px;
    border-radius: 12px;
    padding-left: 9px;
    padding-right: 9px;
    margin-top: 16px;
    margin-bottom: 24px;
    cursor: pointer;
}

.address:hover img {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 1));
    transform: translate(0, -1px);
}

.address:active {
    font-weight: bold;
    background-color: #39A8ED;
    transform: translate(0, -1px);
}

.amount {
    display: flex;
    align-items: baseline;
    gap: 8px;
    font-size: 26px;
    color: white;
    margin-top: 20px;
}

._amount {
    display: flex;
    align-items: baseline;
    font-size: 14px;
    color: white;
    margin-top: 8px;
}

.symbol {
    font-size: 15px;
}

.wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}

.receive_btn {
    width: 100%;
    margin-top: 40px;
}

.send_btn {
    width: 100%;
    margin-top: 16px;
}

.activity_btn {
    width: 205px;
    margin-top: 24px;
}

.export_priv {
    margin-top: 52px;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 13px;
    cursor: pointer;
}