.wrapper {
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
    margin-top: 28px;
}

.step_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.status_symbol {
    display: flex;
}

.step_title {
    font-size: 20px;
    font-weight: bold;
    transform: translateY(-5px);
}

.step_line {
   height: 32px;
   width: 0px;
   border: 1px solid gray;
   margin-left: 21px;
}