.container {
    width: 100%;
    height: 46px;
    background: #0096F4;
}

.wrapper {
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 26px;
}

.menus {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;
}

.menu:hover .menu_name {
    font-weight: lighter;
}

.menu_chain {
    position: absolute;
    left: -4px;
    top: 23px;
    background: #49B8FD;
    padding: 6px;
    padding-right: 16px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 101;
}

.menu_logo {
    height: 13px;
}

.menu_name {
    font-size: 13px;
    color: white;
}