.wrapper {
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper div {
    font-size: 20px;
}

.success {
    color: green;
}

.waiting {
    color: black;
}

.failed {
    color: red;
}