.wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 12px;
}

.title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: #6A4DFD;
    filter: drop-shadow(0px 0px 8px #6A4DFD);
}

.secretForm {
    width: 92%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 12px;
}

.inputWrapper {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.inputNumber {
    display: flex;
}

.whiteSpace {
    color: transparent;
}

.inputWrapper input {
    /* width: 27%; */
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    width: 100%;
}

.btns_wrapper {
    display: flex;
    gap: 60px;
}