.wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: #6A4DFD;
    filter: drop-shadow(0px 0px 8px #6A4DFD);
}

.secretForm {
    width: 92%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 12px;
}

.secretForm input {
    width: 27%;
}

.btns_wrapper {
    display: flex;
    gap: 60px;
}